extends ../layout

block content
    div.container-fluid
        include ../components/alert.pug
        h4.text-center 管理员列表
        div.table-warp
            table.table.table-striped.table-hover
                thead
                    th 姓名
                    th 区域
                    th 操作
                tbody#J_tbody
                    tr
                        td blue
                        td 全部
                        td -
                    each item,index in adminList
                        if item.id!=1
                            tr
                                td #{item.name}
                                td 
                                    div.J_curWarp
                                        //- span.label.label-success 启迪科技城
                                        //- span.label.label-success 启迪城
                                td
                                    button.btn.btn-warning.J_modifyBtn(data-toggle="modal" data-target="#modifyModal" data-id=`${item.id}`) 修改权限
                                    button.btn.btn-danger(data-toggle="modal" data-target="#promptModal" data-id=`${item.id}`) 删除
                
    include ../components/prompt.pug
    div.modal.fade#modifyModal(role="dialog" aria-labelledby="myModalLabel")
        div.modal-dialog.modal-lg
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 修改管理员权限
                div.modal-body.modify-area
                    div.modal-area-cur 
                        p 当前权限区域:
                        div#J_curArea
                    div.modal-areas
                        p 所有区域 (点击添加)
                        div#J_allArea
                            each item,index in areaList
                                span.label.label-info(data-id=`${item.id}`) #{item.name}
                div.modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") 取消
                    button#J_doModify.btn.btn-success(type="button" data-dismiss="modal") 确认
block append script
    script(src="/javascripts/pages/administrator.js")
