extends ../layout

block content
    div.container-fluid
        include ../components/alert.pug
        h4.text-center 发布详情
        div.form-horizontal
            div.form-group.form-group-lg
                label.col-sm-2.control-label(for="title") 标题
                div.col-sm-10
                    input#J_title.form-control(placeholder="请输入标题" value=`${detailInfo.title}`)
            div.form-group.form-group-lg
                label.col-sm-2.control-label(for="content") 内容
                div.col-sm-10
                    textarea#J_content.form-control(rows="15" placeholder="请输入内容") #{detailInfo.content}
            if type==2
                div.form-group.form-group-lg
                    label.col-sm-2.control-label() 推荐星数
                    div.col-sm-10
                        - var star = detailInfo.star
                        select#J_selectStar.form-control
                            each val,key in {'5':'五','4':'四','3':'三'} 
                                if star == key
                                    option(value=`${key}` selected='selected') #{val}星
                                else
                                    option(value=`${key}`) #{val}星
                                    
            div.form-group.form-group-lg
                label.col-sm-2.control-label 发布区域
                div.col-sm-10
                    if userInfo.permission
                        div.community-area
                            div#J_communityArea
                                if detailInfo.community_ids == 'all'
                                    span.J_allSpan.label.label-info(data-id="all") 全部
                                        <i class="glyphicon glyphicon-remove-circle"></i>
                                else
                                    each id in detailInfo.community_ids.split('-')
                                        each area in areaList
                                            if area.id == id
                                                span.label.label-info(data-id=`${id}`) #{area.name}
                                                    <i class="glyphicon glyphicon-remove-circle"></i>
                            button.btn-120.btn.btn-primary#J_addComunity 选择区域
                        div#J_communityList.community-list
                            p.text-center 点击选中要添加的区域
                            div
                                span.label.label-success.J_item_area(data-id="all") 全部
                                each area in areaList
                                    span.label.label-success.J_item_area(data-id=`${area.id}`) #{area.name}
                    else
                        div#J_communityArea.community-area
                            each id in detailInfo.community_ids.split('-')
                                each area in areaList
                                    if area.id == id
                                        span.label.label-success(data-id=`${id}`) #{area.name}
            div.form-group.form-group-lg
                label.col-sm-2.control-label 添加图片
                div.col-sm-10
                    - var uploadImgs = detailInfo.imgs.split(',')
                    - var leftNum = 6 - uploadImgs.length
                    div.bulletin-btn
                        button.btn-120.btn.btn-primary#J_uploadBtn 添加图片
                        span.upload-tips.label.label-danger 还可继续添加#{leftNum}张，每张2M内
                        div.alert.alert-danger.alert-upload#J_uploadMsg
                            button.close(type="button")
                                span &times;
                            p 
                    div#J_uploadList.bulletin-img-list
                        each img in uploadImgs
                            div.img-thumbnail
                                span.del-img.glyphicon.glyphicon-remove.J_delImg(href="javascript:;" data-uploaded="true")
                                img(src=`${img}`)
            div.col-sm-10.col-sm-offset-2
                button#J_publish.btn.btn-primary.btn-block.btn-lg(data-id=`${detailInfo.id}`) 修改
                button#J_delete.btn.btn-danger.btn-block.btn-lg(data-id=`${detailInfo.id}`) 删除
        input#J_type(type="hidden" value=`${detailInfo.type}`)
        input#J_uploadLen(type="hidden" value=`${uploadImgs.length}`)
            
block append script
    script(src="/javascripts/webuploader.js")
    script(src="/javascripts/pages/detail.js")    
