extends ../layout

block content
    div.container-fluid
        h4.text-center 我的发布
        div.table-warp
            table.table.table-striped.table-hover
                thead
                    th 序号
                    th 标题
                    th 发布区域
                    th 发布类型
                    th 发布时间
                    th 操作
                tbody
                    each art,index in articals
                        tr
                            td= index+1
                            td 
                                p.td-title #{art.title}
                            td 
                                each id in art.community_ids.split('-')
                                    if id == 'all'
                                        span.label.label-primary 全部
                                    else
                                        each area in areaList
                                            if area.id == id
                                                span.label.label-success #{area.name}
                            if art.type == 1 
                                td 公告
                            else 
                                td 推荐墙 
                                    - var n = 0;
                                    while n < art.star
                                        - n++;
                                        span.span-star.glyphicon.glyphicon-star
                            td #{art.time.toLocaleString()}
                            td 
                                a.btn.btn-info(href=`/users/detail?id=${art.id}&type=${art.type}`) 查看及修改
                    
